@model IList<Driveat.data.Reservation>
@using Driveat.Services
@if (Model.Count > 0)
{
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>

                <th>Picture</th>
                <th>Name</th>
                <th>Price</th>
                <th>Buyer</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Reservation state</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                string state = string.Empty;
                bool disable = false;
                bool consider = false;
                string FormatedState = string.Empty;

                if (reservation.State.Name == Driveat.data.ReservationState.State.CallintoConfirm.Value())
                {
                    state = "info";
                    FormatedState = "Reservation ready to be confirmed by you!";
                }

                if (reservation.State.Name == Driveat.data.ReservationState.State.Approved.Value())
                {
                    state = "success";
                    disable = true;
                    FormatedState = "Reservation approved! waiting for user payment.";
                }

                if (reservation.State.Name == Driveat.data.ReservationState.State.Declined.Value())
                {
                    state = "error";
                    disable = true;
                    consider = true;
                }

                if (reservation.State.Name == Driveat.data.ReservationState.State.Canceled.Value())
                {
                    state = "warning";
                    disable = true;
                    consider = true;
                    FormatedState = "Reservation canceled by your buyer.";
                }
                            
                          
                <tr class="@state">
                    <td>
                        <a href="/Dish/Show?dishid=@reservation.LinkedDish._id" class="thumbnail">
                            <img src="@Url.Content("~/Driveat/public/images/COMMON/dish/" + reservation.LinkedDish.Picture)">
                        </a>
                    </td>

                    <td>@Html.ActionLink(reservation.LinkedDish.Name, "Show", "Dish", new { dishid = reservation.LinkedDish._id }, null)</td>
                    <td>@reservation.LinkedDish.Price</td>
                    <td><strong>@Html.ActionLink(reservation.Buyer.Username, "Show", "User", new { username = reservation.Buyer.Username }, new { target = "_blank" })</strong></td>
                    <td>@reservation.Date.ToString(@"yyyy-MM-dd")</td>
                    <td>@reservation.Hour.ToShortTimeString()</td>
                    <td><strong>@reservation.State.Name</strong></td>
                    <td>

                        @if (disable)
                        {

                            if (consider)
                            {
                            @Html.ActionLink("Reconsider", "Reconsider", "Reservation", new { id = reservation._id.ToString() }, new { @class = "btn btn-mini btn-warning pull-right", onClick = "javascript:if(confirm('Reconsider reservation?')){}else{return false;}" })
                            }
                            
                            <p>@FormatedState</p>
                        }
                        else
                        {
                            @Html.ActionLink("Approve", "Approve", "Reservation", new { id = reservation._id.ToString() }, new { @class = "btn btn-mini btn-success", onClick = "javascript:if(confirm('Approve reservation?')){}else{return false;}" })
                            @Html.ActionLink("Decline", "Decline", "Reservation", new { id = reservation._id.ToString() }, new { @class = "btn btn-mini btn-warning", onClick = "javascript:if(confirm('Decline reservation?')){}else{return false;}" })
                        }
                    </td>

                </tr> 
            }
        </tbody>
    </table>
}
else
{
    <span class="label label-important pull-left">Important</span><p class="pull-left">You don't have any sales at the moment. </p>
}